@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    width: 100vw;
    height: 100vh;
    background: white;
    position: relative;
    overflow-x: hidden;
}

.about-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.about-side{
    width: 25%;
    background: linear-gradient(to bottom, #0f0f0f 0%, #272727 40%, #3a3a3a 100%);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    color: white;
    align-items: center;
}

.side-el{
    margin-top: 20px;
    letter-spacing: 1.5px;
    text-align: center;
}

.conf{
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.month, .turkey{
    font-size: 1.1em;
}

.organizer{
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 60px;
    margin-bottom: 20px;
}

.logo-wrapper{
    display: flex;
    width: 75%;
    flex-direction: column;
}

.logo{
    margin-bottom: 30px;
}

.devider{
    width: 0.2%;
    background: rgba(242,102,2,1);
}

.about-main {
    width: 74.8%;
    padding: 20px;
    background: white;
    color: black;
    font-size: 1.1em;
    overflow-y: auto
}

.table{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 10px;
}
.table-title, .table-body{
    display: flex;
    width: 100%;
}

.table-title{
    font-weight: 600;
}
.table-el{
    width: 30%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-el {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.table-title .table-el {
    border-top: 1px solid black;
}

.table-body:last-child .table-el {
    border-bottom: 1px solid black;
}

.table-el:last-child {
    border-right: 1px solid black;
}

.about-paragraph, .about-heading {
    margin-bottom: 20px;
}

.about-heading{
    margin-top: 40px;
    font-weight: 600;
}
.cube{
    display: inline-block;
    background: rgba(242,102,2,1);
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.highlight-date{
    color: rgba(242,102,2,1);
}

.terms-list {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
    margin-bottom: 7px;
}

.last{
    margin-bottom: 30px;
}

.reg-btn-wrapper {
    display: inline-block;
    padding: 2px;
    border-radius: 40px;
    background: linear-gradient(135deg, rgba(0,0,0,0.02) 5%,rgba(0,0,0,0.65) 17%,rgba(0,0,0,0) 24%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 29%,rgba(0,0,0,0) 61%,rgba(0,0,0,0) 78%,rgba(0,0,0,0.12) 83%,rgba(0,0,0,0.44) 97%);
    opacity: 0.9;
}

.btn-a {
    width: 180px;
    height: 35px;
    border: none;
    border-radius: 40px;
    background: white;
    color: #ef1616;
    font-size: 0.9em;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all ease-in-out 500ms;
}

.reg-btn {
    color: white;
    background: linear-gradient(to bottom, rgba(173,21,1,1) 0%,rgba(242,102,2,1) 19%,rgba(251,149,94,1) 100%);
}

.reg-btn:hover{
    letter-spacing: 1.2px;
}

.line-menu{
    display: flex;
    justify-content: space-around;
    font-size: 0.6em;
    margin: 15px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.btn-wrapper{
    margin-top: 10px;
}

.btn{
    color: black;
    text-decoration-color: rgba(242,102,2,1);
    text-underline-offset: 3px;
    transition: all ease-in-out 500ms;
}

.btn:hover{
    font-weight: 600;
}

@media (min-width: 1800px){

    .about-main{
        font-size: 1.5em;
    }
}
@media (max-width: 1300px) {
    .table{
        width: 70%;
    }
}

@media (max-width: 1100px) {
    .table{
        width: 90%;
    }
}

@media (max-width: 1100px) {
    .table{
        margin-top: 10px;
        width: 100%;
    }
    .terms-list{
        font-size: 0.9em;
        margin-left: 2px;
    }
}


@media (max-width: 800px){
    .line-menu{
        display: none;
    }
    .about-side{
        display: none;
    }
    .about-main{
        margin-top: 20px;
        width: 90%;
    }
}

@media (min-width: 1700px){
    .btn-a{
        width: 250px;
        height: 50px;
    }
}