
.lang-wrapper{
    width: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    color: #fff;
}
.inner-lang-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.lang{
    margin-right: 10px;
    color: black;
}

.lang a{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

/**** mobile menu *****/
.mobile{
    display: none;
    width: 250px;
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    height: auto;
    background: #252323;
    z-index: 10;
    padding: 20px;
    font-family: "Montserrat", serif;
    color: #fcfcfc;
}

.bars, .xmark{
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 1.8em;
    cursor: pointer;
    transition: all 500ms ease;
    z-index: 150;
    width: 20px;
    height: 20px;
    filter: invert(1);
}

@keyframes rotateIn {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.xmark {
    animation: rotateIn 0.5s ease-out 1;
}

.mobile > .menu{
    margin-top: 40px;
}

.bars {
    filter: none;
}

.mobile-menu-wrapper{
    display: flex;
    flex-direction: column;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    margin-top: 30px;
}

.mobile-menu > .menu-el {
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.menu-el a{
    color: white;
    text-decoration: none;
}

.mobile-lang-wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.mobile-lang-wrapper > .lang {
    color: white;
}

.mob-logo-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mob-logo img{
    width: 80%;
}

