@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    width: 100vw;
    height: 100vh;
    background: white;
    position: relative;
    overflow-x: hidden;
}

.logo-top{
    width: 100%;
    height: 260px;
    background: url("../icons/top.png") no-repeat bottom center;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 2;
}

.logo-wrapper{
    display: flex;
    margin-top: 5px;
    width: 50%;
    height: 20%;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    width: 150px;
}

.event-info-wrapper{
    display: flex;
    width: 100%;
}
.event-place, .event-date-registration{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60%;
    align-items: center;
    letter-spacing: 2px;
    font-size: 1.1em;
}

.turkey{
    margin-top: 10px;
}

.event-logo{
    width: 40%;
    display: flex;
    justify-content: center;
}

.event-logo img{
    width: 215px;
}

.event-date-registration{
    display: flex;
    flex-direction: column;
}

.table{
    border: 1px solid black;
    font-size: 0.8em;
    width: 50%;
    margin-bottom: 10px;
}

.before-start{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 3px;
}

.day-month-wrapper{
    display: flex;
    flex-direction: row;
    padding: 3px;
    width: 100%;
}

.month-wrapper, .days-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.month-figure, .days-figure{
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
}

.month, .days{
    text-align: center;
    font-size: 0.8em;
}

.btn-wrapper {
    display: inline-block;
    padding: 2px;
    border-radius: 40px;
    background: linear-gradient(135deg, rgba(0,0,0,0.02) 5%,rgba(0,0,0,0.65) 17%,rgba(0,0,0,0) 24%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 29%,rgba(0,0,0,0) 61%,rgba(0,0,0,0) 78%,rgba(0,0,0,0.12) 83%,rgba(0,0,0,0.44) 97%);
    opacity: 0.9;
}

.btn {
    width: 160px;
    height: 35px;
    border: none;
    border-radius: 40px;
    background: white;
    color: #ef1616;
    font-size: 0.9em;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all ease-in-out 500ms;
}

.reg-btn {
    color: white;
    background: linear-gradient(to bottom, rgba(173,21,1,1) 0%,rgba(242,102,2,1) 19%,rgba(251,149,94,1) 100%);
}

@media (min-width: 801px){
    .btn:hover {
        color: white;
        background: linear-gradient(to bottom, rgba(173,21,1,1) 0%,rgba(242,102,2,1) 19%,rgba(251,149,94,1) 100%);
    }
    .reg-btn:hover{
        letter-spacing: 1.2px;
    }
}


.slider{
    position: absolute;
    top: 220px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-layer {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 1s ease-in-out;
    z-index: -1;
}

.slider-layer.hidden {
    opacity: 0;
}

.int-conf{
    width: 100%;
    height: 50px;
    font-size: 2.8em;
    color: white;
    text-align: center;
    letter-spacing: 6px;
    font-weight: 700;
}

.bottom-wave{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 230px;
    background: url("../icons/bottom.png") no-repeat top center;
    background-size: 100% auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.bottom-menu-up{
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    margin-left: 20px;
}

.bottom-menu-up > .btn-wrapper{
    margin-right: 45px;
}

.bottom-menu-down{
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.bottom-menu-down .btn-wrapper{
    margin-right: 20px;
}

@media (max-width: 1350px){
    .bottom-wave{
        height: 200px;
    }
    .bottom-menu-up{
        margin-bottom: 15px;
        margin-right: 10px;
    }
    .bottom-menu-down{
        margin-bottom: 20px;
    }
}

@media (max-width: 1024px){

    .btn {
        width: 140px;
        height: 30px;
        font-size: 0.8em;
        letter-spacing: 1px;
    }
    .bottom-wave{
        height: 180px;
    }
}
@media (min-width: 3300px){
    .logo-top{
        height: 580px !important;
    }
}
@media (min-width: 2850px) and (max-width: 3299px){
    .bottom-wave{
        height: 300px !important;
    }
    .bottom-menu-up{
        margin-right: 180px !important;
    }
    .logo-top{
        height: 500px !important;
    }
    .logo img{
        width: 350px;
    }
    .event-logo img{
        width: 400px;
    }
    .btn{
        width: 200px;
        height: 50px;
    }
    .event-place{
        font-size: 1.7em;
    }
    .table{
        font-size: 1.3em;
    }
}
@media (min-width: 2250px) and (max-width: 2849px){
    .logo-top{
        height: 500px;
    }
    .logo img{
        width: 310px;
    }
    .event-logo img{
        width: 380px;
    }
    .event-place{
        font-size: 1.6em;
    }
    .table{
        font-size: 1.2em;
    }
    .bottom-wave{
        height: 290px !important;
    }
    .btn{
        width: 180px;
        height: 40px;
    }
    .bottom-menu-up{
        margin-bottom: 40px;
        margin-right: 100px;
    }
    .bottom-menu-down{
        margin-right: 70px;
    }
}

@media (min-width: 2000px){
    .logo-top{
        height: 450px;
    }
    .logo img{
        width: 280px;
    }
    .event-logo img{
        width: 340px;
    }
    .event-place{
        font-size: 1.4em;
    }
    .table{
        font-size: 1.1em;
    }
    .btn{
        width: 170px;
        height: 40px;
    }
    .bottom-wave{
        height: 250px;
    }
}

@media (max-width: 950px) and (min-width: 801px){
    .btn {
        width: 115px;
        height: 22px;
        font-size: 0.7em;
        letter-spacing: 1px;
    }
    .bottom-menu-up{
        margin-right: 1px;
    }
    .bottom-menu-down{
        margin-bottom: 10px;
    }
    .bottom-wave{
        height: 150px;
    }
    .month, .days{
        font-size: 0.6em;
    }
}

@media (max-width: 800px){
    .bottom-menu-up{
        display: none;
    }
    .bottom-menu-down{
        display: none;
    }
    .bottom-wave{
        display: none;
    }
    .logo-wrapper{
        display: none;
    }
    .event-info-wrapper{
        padding-top: 30px;
        align-items: center;
    }
    .event-place, .event-logo .event-date-registration{
        width: 32%;
    }
    .event-logo img{
        width: 180px;
    }
    .logo-top{
        height: 200px;
    }

    .month, .days{
        font-size: 0.5em;
    }
    .before-start{
        font-size: 0.9em;
    }
    .day-month-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .table{
        border: none;
    }
    .event-place{
        font-size: 0.9em;
        text-align: center;
    }
}

@media (max-width: 600px){
    .event-place{
        font-size: 0.7em;
    }
    .btn{
        width: 120px;
        font-size: 0.7em;
    }
}

@media (max-width: 500px){
    .event-logo img{
        width: 160px;
    }
    .event-info-wrapper{
        padding-top: 50px;
    }
    .before-start{
        font-size: 0.8em;
    }
    .table{
        width: 70%;
    }
    .int-conf{
        font-size: 2em;
    }
}

@media (max-width: 450px){
    .event-logo img{
        width: 150px;
    }
    .month, .days{
        font-size: 0.4em;
    }
    .btn{
        width: 100px;
        font-size: 0.7em;
        letter-spacing: 0;
    }
    .int-conf{
        font-size: 1.5em;
    }
}

@media(min-width: 801px) and (max-width: 1100px){
    .slider{
        justify-content: start;
        padding-top: 5%;
    }
    .int-conf{
        font-size: 1.7em;
    }
}

@media(min-width: 1101px) and (max-width: 1200px){
    .slider{
        justify-content: start;
        padding-top: 15%;
    }
    .int-conf{
        font-size: 2em;
    }
}

