<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link rel="icon" type="image/png" href="{{ asset('logo/agrofood.svg') }}">
        {% block styles %} {% endblock %}
        <title>{% block title %}{% endblock %}</title>           
    </head>
    <body>

        {% include 'components/menu.html.twig' %}

        <main>
            {% block content %}{% endblock %}
        </main>


        {% block scripts %}{% endblock %}

    </body>
</html>
