
{% extends 'layout.html.twig' %}

{% block title %}ADMIN{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_admin.css') }}">
{% endblock %}

{% block content %}

    <div class="admin-wrapper">
        <h2>Upload program</h2>

        <form action="{{ path('admin_upload', {'_locale': app.request.locale}) }}"
              method="post" enctype="multipart/form-data" class="upload-form">
            <input type="file" name="program_file" accept="image/png" required>
            <button type="submit">Upload "png" file</button>
        </form>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

    </script>
{% endblock %}